<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="MapperName">

	<!-- 
	select query
	-->
  <select id="SELECT_001" resultType="package.vo">
  SELECT *
  FROM TB_BOARD
  </select>
	
</mapper>
